body {
    background-color: black;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

body::webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#footer-easteregg > footer:hover {
    color: red;
}

/* Homepage Style */

#main-introduction {
    background-color: black;
    height: 100vh;
    width: 100wh;
}

.main-navbar {
    position: fixed;
    background-color: black;
    height: 80px;
    width: 100%;
    margin-left: -8px;
}

.main-navbar-link {
    
    display: inline-flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 10px;
}

.main-scroller {
    display: inline-block;
    position: fixed;
    height: 200px;
    width: 20px;
    margin-top: 400px;
}

.main-scroller > a {
    font-family: Tahoma;
    font-size: 50px;
    color: rgba(37, 37, 37, 0.39);
    text-decoration: none;
    margin-bottom: 2px;
}

.main-scroller > a:hover {
    color: rgba(255, 255, 255, 0.39);
}

.Hello {
    font-size: 200px;
    font-family: Segoe UI;
    color: white;
    margin-left: 40px;
    margin-bottom: 50px;
}

h1 {
    font-family: Segoe UI;
    color: white;
}

#main-abouts > p {
    font-size: 20px;
    font-family: Segue UI;
    color: white;
}

#main-abouts > div > p {
    font-size: 20px;
    font-family: Segue UI;
    color: white;
}

#abouts-entrance {
    font-family: Cascadia Code;
    font-size: 20px;
    text-align: center;
    height: 300px;
    width: 100%;
}

#abouts-entrance > p {
    
}

#fg1 {
    height: 200px;
}

#cooking-culinary {
    background-color: rgb(175, 206, 0);
    height: 888px;
    width: 100%;
}

#cooking-culinary > h1 {
    font-size: 50px;
}

#contact-links {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

#contact-links > div > a {
    color: white;
    text-decoration: none;
}


/* Theater styling */

.theater-navbar {
    background-color: black;
    height: 50px;
    width: 100%;
}

.theater-navbar-link {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 10px;
}

.blinds-top {
    background-color: red;
    height: 160px;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.blinds-top-left {
    background-color: red;
    height: 200px;
    width: 30%;
    border-bottom-left-radius: 50%;
}

.blinds-top-right {
    background-color: red;
    height: 200px;
    width: 30%;
    border-bottom-right-radius: 50%;
}

.blinds-right {
    
}

.blinds-right > div {
    background-color: red;
    height: 500px;
    width: 100px;
    display: inline-block;
}

.b1a {
    border-bottom-right-radius: 48%;
    margin: 10px;
}

.b1b {
    border-bottom-left-radius: 48%;
    margin: 10px;
}

.blinds-left {
    
}

.blinds-left > div {
    background-color: red;
    height: 500px;
    width: 40px;
    display: inline-block;
}

.b2a {

}

.gallery {
    z-index: -4;
}

/* Lab styling */

.Lab-navbar {
    background-color: black;
    height: 50px;
    width: 100%;
}

.Lab-navbar-link {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 10px;
}



/*  */
